version: "3"

services:
  spring:
    build: 
      args:
        DEPENDENCY: build/dependency
      context: spring
    container_name: "${PROJECT_NAME}_springboot"
    environment:
      SSL_KEYSTORE_DIR: $SSL_KEYSTORE_DIR
      SSL_KEYSTORE_PASSWORD: $SSL_KEYSTORE_PASSWORD
      SSL_CLIENT_AUTH: $SSL_CLIENT_AUTH
    ports:
      - $SPRING_PORT:8080

  db:
    image: wodby/mariadb:$MARIADB_TAG
    container_name: "${PROJECT_NAME}_db"
    environment:
      MYSQL_ROOT_PASSWORD: $DB_ROOT_PASSWORD
      MYSQL_DATABASE: $DB_NAME
      MYSQL_USER: $DB_USER
      MYSQL_PASSWORD: $DB_PASSWORD
      # Increase performance for database storage.
      MYSQL_TMP_TABLE_SIZE: 16M
      MYSQL_MAX_ALLOWED_PACKET: 256M
      MYSQL_WAIT_TIMEOUT: 1200
      MYSQL_INNODB_LOCK_WAIT_TIMEOUT: 600
      MYSQL_INNODB_BUFFER_POOL_SIZE: 256M


  # traefik:
  #   image: traefik:1.7.1-alpine
  #   container_name: "${PROJECT_NAME}_traefik"
  #   command: --configFile=/etc/traefik/conf/traefik.toml
  #   labels:
  #     - 'traefik.enable=true'
  #     - 'traefik.backend=traefik'
  #     - 'traefik.port=8080'
  #     - 'traefik.frontend.rule=Host:traefik.docker.localhost'
  #   ports:
  #     - '80:80'
  #     - '443:443'
  #     - "8080:8080"
  #   restart: unless-stopped
  #   volumes:
  #     - '/var/run/docker.sock:/var/run/docker.sock:ro'
  #     - './traefik/acme:/etc/traefik/acme:rw'
  #     - './traefik/traefik.toml:/etc/traefik/conf/traefik.toml:ro'
