API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MTAyODU0MDQsInN1YiI6MiwiYWlkIjoyfQ.UiQntwxBmwRrnfcWRWxJRcBFYg3_T8pcJNvwLeFdCQo

ENDPOINT_USER_KEYS=http://172.31.0.6:8000/api/1/users/:userId/keys
ENDPOINT_USER_KEY_RAW=http://172.31.0.6:8000/api/1/keys/:keyId
NODE_EXTRA_CA_CERTS=/usr/src/app/SomeDockerIP.cer

PUBLIC_CERT_PATH=/usr/src/app/certs/publicCert.pem
PRIVATE_KEY_PATH=/usr/src/app/certs/privateKey.pem
PRIVATE_KEY_PASSWORD=bootstrap
CA_CERT_PATH=/usr/src/app/certs/ca.pem