
# RENAME THIS FILE TO "db.env" AND PLACE INTO EACH THE MICROSERVICE DIR

MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=toor
MYSQL_NAME=mtls_mymicroservice
MYSQL_USER=mtls_mymicroservice
MYSQL_PASSWORD=mtls_mymicroservice
