version: "3"

services:

  # PDS Microservice
  pds_spring:
    build:
      args:
        DATA_DIR: ${DATA_DIR}
      context: appelli_microservice/spring
    container_name: "${PROJECT_NAME}_pds_spring"
    env_file:
      - appelli_microservice/spring.env
    ports:
      - 8080:8080
    volumes:
      - "./pds_microservice/spring/${DATA_DIR}:${CONTAINER_DIR}/${DATA_DIR}"


#  pds_db:
#    image: wodby/mariadb:$MARIADB_TAG
#    container_name: "${PROJECT_NAME}_pds_db"
#    env_file:
#      - pds_microservice/db.env
#    environment:
#      MYSQL_TMP_TABLE_SIZE: 16M
#      MYSQL_MAX_ALLOWED_PACKET: 256M
#      MYSQL_WAIT_TIMEOUT: 1200
#      MYSQL_INNODB_LOCK_WAIT_TIMEOUT: 600
#      MYSQL_INNODB_BUFFER_POOL_SIZE: 256M


  # Prenotazioni Microservice
  prenotazioni_spring:
    build:
      args:
        DATA_DIR: ${DATA_DIR}
      context: prenotazioni_microservice/spring
    container_name: "${PROJECT_NAME}_prenotazioni_spring"
    ports:
      - 8081:8080
    env_file:
      - prenotazioni_microservice/spring.env
    volumes:
      - "./prenotazioni_microservice/spring/${DATA_DIR}:${CONTAINER_DIR}/${DATA_DIR}"
    links:
      - "pds_spring:pds"

#  prenotazioni_db:
#    image: wodby/mariadb:$MARIADB_TAG
#    container_name: "${PROJECT_NAME}_prenotazioni_db"
#    env_file:
#      - prenotazioni_microservice/db.env
#
#    environment:
#      MYSQL_TMP_TABLE_SIZE: 16M
#      MYSQL_MAX_ALLOWED_PACKET: 256M
#      MYSQL_WAIT_TIMEOUT: 1200
#      MYSQL_INNODB_LOCK_WAIT_TIMEOUT: 600
#      MYSQL_INNODB_BUFFER_POOL_SIZE: 256M
