# RENAME THIS FILE TO ".env" AND PLACE INTO THE MICROSERVICE DIR

PROJECT_NAME=mTLS_mymicroservice

# Comment out other platform overrides
COMPOSE_OVERRIDE=local.mac
#COMPOSE_OVERRIDE=local.linux

# Leave this unchanged
CONTAINER_DIR=/app

# EDIT THIS WITH MICROSERVICE DIR AND APPEND /data
DATA_DIR="{{PLACE_HERE_MICROSERVICE_DIR}}/data"

SPRING_PORT=8080

MARIADB_TAG=10
DB_PORT=3306
DB_ROOT_PASSWORD=toor
DB_NAME=mtls_mymicroservice
DB_USER=mtls_mymicroservice
DB_PASSWORD=mtls_mymicroservice

SSL_KEYSTORE_DIR=/app/data/rootca.jks
SSL_KEYSTORE_PASSWORD=lemur

# Specify if you want mTLS
SSL_CLIENT_AUTH=none
#SSL_CLIENT_AUTH=need

# Enable only if you want ssl
SSL_ENABLED=true