# RENAME THIS FILE TO "spring.env" AND PLACE INTO EACH THE MICROSERVICE DIR

# Folders should be composed as ${CONTAINER_DIR}/${DATA_DIR} (see external .env)
SSL_KEYSTORE_DIR=/app/data/keystore.jks
SSL_KEYSTORE_PASSWORD=lemur

SSL_TRUSTSTORE_DIR=/app/data/rootca.jks
SSL_TRUSTSTORE_PASSWORD=lemur

# Specify if you want mTLS
SSL_CLIENT_AUTH=none
#SSL_CLIENT_AUTH=need

# Enable only if you want ssl
SSL_ENABLED=true

