# RENAME THIS FILE TO "spring.env" AND PLACE INTO EACH THE MICROSERVICE DIR

SSL_KEYSTORE_DIR=data/rootca.jks # Folder should be relative to "spring" folder
SSL_KEYSTORE_PASSWORD=lemur

# Specify if you want mTLS
SSL_CLIENT_AUTH=none
#SSL_CLIENT_AUTH=need

# Enable only if you want ssl
SSL_ENABLED=true
