server:
  port: 8081
  ssl:
    key-store: ${SSL_KEYSTORE_DIR}
    key-store-password: ${SSL_KEYSTORE_PASSWORD}
    client-auth: ${SSL_CLIENT_AUTH}
    enabled: ${SSL_ENABLED}

#TODO: figure out why I need this here and in bootstrap.yml
spring:
  application:
    name: testLatticeApp

ribbon:
  ServerListRefreshInterval: 1000

endpoints:
  health:
    sensitive: false
  restart:
    enabled: true
  shutdown:
    enabled: true


network:
  pds:
    host: pds_spring